.venv
data/*.csv 
data/NARPS_MG_asc
data/NARPS_MG_asc_processed
data/NARPS_MG_asc_quality_control
!data/behavioral_data.csv
!data/behavioral_data_non_pupil.csv
!data/behavioral_data_SVs.csv
!data/pupil_data_share.csv
!data/behavioral_data_pupil.csv
.DS_Store
src/modeling/sbatch/slurm*
results/ddm_models/parameters
results/ddm_models/trained_models

__pycache__

*.py[oc]
build/
dist/
wheels/

*.egg-info

.vscode

.pytest_cache
.ruff_cache